[submodule "tests"]
	path = tests/testdata
	url = https://github.com/ethereum/tests
	shallow = true
[submodule "evm-benchmarks"]
	path = tests/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
	shallow = true
[submodule "openzeppelin-contracts"]
	path = systemcontracts/solidity/openzeppelin/contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "openzeppelin-contracts-upgradeable"]
	path = systemcontracts/solidity/openzeppelin/contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
